# fastapi==0.78.0
# pydantic==1.10.7
uvicorn==0.17.6
pymongo==4.0.2
python-multipart==0.0.5
starlette
face_recognition
passlib
python-jose[cryptography]
bcrypt
# pytest 
# httpx 
# pytest-asyncio

fastapi==0.78.0
pydantic==1.10.7
# pytest==8.3.3
# pytest-asyncio==0.20.0
httpx==0.24.0
pytest>=7.0
pytest-asyncio>=0.20.0

requests
python-dotenv
geopy
pymongo[srv]
certifi
